<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homepage | DigiLocker</title>
<style>
  body{
    text-align: center; 
    background-color: #292929;
  }
  h1{
      font-family: monospace;
      padding-top:12vh;
      padding-bottom: 10vh;
      font-size: 5vw;
      color: seashell;
  }
  a, a:visited{
      font-family: monospace ;
      font-size: 3vw;
      color: #f00048;
      text-decoration: none;
      padding-left: 12vh;
      padding-right: 12vh;
      cursor: pointer;
  }
  a:hover{
      font-size: 3vw;
      color:white;
      text-decoration: none;
  }
</style>
</head>
<body>
  <h1>DigiLocker</h1>
  <div class="full">
    <a href="/signup">Sign-up</a>
    <a href="/login">Log-in</a>
  </div>
</body>
</html>
