<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Site | DigiLocker</title>
</head>
    <body>
        <div id="uploadsection">
            <form method = "post" enctype="multipart/form-data" id="form2">  
                <input type="file" name="file"><br>  
                <input type = "button" value="Add to DigiLocker" onclick="upload()">  
            </form>
        </div>
		<br><br>
		<div id="download-section">
            <form method="POST" enctype="multipart/form-data" id="form1">
                <select id="filelist" name="fname">
                    <option>Dropdown for a list of files to select from</option>
                </select><br>
                <input type="button" value="Download" onclick="alt_download()">
				<input type="button" value="Remove from DigiLocker" onclick="del()">
            </form>
        </div>
        <script>
            /*var select = document.getElementById("filelist");
            var options = {{ files|tojson }};
            for(var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                select.appendChild(el);
            }*/
			
			function fill_dropdown(){
				var formData = new FormData();
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					//console.log(this.responseText);
					if (this.readyState == 4 && this.status == 200) {
						var responseJson = JSON.parse(this.responseText);
						if(responseJson.status == '0')
						{
							//console.log(responseJson.files);
							var select = document.getElementById("filelist");
							var options = responseJson.files;
							for(var i = 0; i < options.length; i++) {
								var opt = options[i];
								var el = document.createElement("option");
								el.textContent = opt;
								el.value = opt;
								select.appendChild(el);
							}
						}
					}
				};
                xmlhttp.open("POST", "/getAllFiles");
				xmlhttp.send(formData);
			}

            /*function download(){
                var form = document.getElementById("form1");
                var formData = new FormData(form);
                var xmlhttp = new XMLHttpRequest();
				xmlhttp.onload = function(blob) {
					var link = document.createElement('a');
					link.href = (jest.fn())(blob);//window.URL.createObjectURL(blob);
					link.download = file.filename;
					link.click();
				}
                xmlhttp.open("POST", "/download");
				xmlhttp.send(formData);
            }*/
			function alt_download(){
                var x = document.getElementById("form1").elements.item(0).value;
				console.log(x);
				downloadURI("/static/" + sessionStorage.getItem('user') + "/" + x, x);
            }
			function downloadURI(uri, name) {
				 var link = document.createElement("a");
				 link.download = name;
				 link.href = uri;
				 document.body.appendChild(link);
				 link.click();
				 document.body.removeChild(link);
				 delete link;
			}
            function upload(){
                var form = document.getElementById("form2");
                var formData = new FormData(form);
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				//console.log(form);
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", "/upload");
				xmlhttp.send(formData);
				xmlhttp.onload = reload_webpage;
            }
			function reload_webpage(){
				location.reload();
			}
			function del(){
                var form = document.getElementById("form1");
                var formData = new FormData(form);
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
                var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/delete");
				xmlhttp.send(formData);
				xmlhttp.onload = reload_webpage;
			}
			
			document.title = sessionStorage.getItem('user') + "'s DigiLocker";
			fill_dropdown();
        </script>
    </body>
</html>
