<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Site | DigiLocker</title>
<style>
	a, a:visited{
	  font-family: monospace ;
      font-size: 2vw;
      color: #f00048;
      text-decoration: none;
      cursor: pointer;
  	}
  	a:hover{
      font-size: 2vw;
      color:white;
      text-decoration: none;
 	 }
	body{
	  text-align: center; 
	  background-color: #292929;
	  font-family: monospace;
	}
	#uploadsection, #downloadsection {
		color: white;
		padding: 15vh;
	}
	#ch-btn {
		font-size: 2vw;
		width: 48%;
		padding: 5vh;
	}
	#ubtn {
		width: 48%;
		padding: 1.5vh;
		color: white;
		font-weight: bold;
		font-size: 2.5vh;
		background-color: #292929;
	}
	#ubtn:hover {
		width: 48%;
		color: #f00048;
	}
	#btn {
		width: 20%;
		padding: 1.5vh;
		color: white;
		font-weight: bold;
		font-size: 2.5vh;
		background-color: #292929;
	}
	#btn:hover {
		width: 20%;
		color: #f00048;
	}
	#filelist {
		width: 40%;
		padding: 1.5vh;
		color: white;
		font-weight: bold;
		font-size: 2.5vh;
		background-color: #292929;
	}
	#filelist:hover {
		color: greenyellow;
	}
</style>
</head>
    <body>
		<a onclick="logout()">Log-out</a>
        <div id="uploadsection">
            <form method = "post" enctype="multipart/form-data" id="form2">  
                <input type="file" id="ch-btn" name="file"> 
                <input type = "button" id="ubtn" value="Add to repository" onclick="upload()">  
            </form>
        </div>
		<br><br>
		<div id="download-section">
            <form method="POST" enctype="multipart/form-data" id="form1">
                <select id="filelist" name="fname">
                    <option>Dropdown for a list of files to select from</option>
                </select>
                <br><br><br><input type="button" id="btn" value="Download" onclick="alt_download()">
				<input type="button" id="btn" value="Delete" onclick="del()">
            </form>
        </div>
        <script>
            /*var select = document.getElementById("filelist");
            var options = {{ files|tojson }};
            for(var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                select.appendChild(el);
            }*/
			
			function fill_dropdown(){
				var formData = new FormData();
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					//console.log(this.responseText);
					if (this.readyState == 4 && this.status == 200) {
						var responseJson = JSON.parse(this.responseText);
						if(responseJson.status == '0')
						{
							//console.log(responseJson.files);
							var select = document.getElementById("filelist");
							var options = responseJson.files;
							for(var i = 0; i < options.length; i++) {
								var opt = options[i];
								var el = document.createElement("option");
								el.textContent = opt;
								el.value = opt;
								select.appendChild(el);
							}
						}
					}
				};
                xmlhttp.open("POST", "/getAllFiles");
				xmlhttp.send(formData);
			}

            /*function download(){
                var form = document.getElementById("form1");
                var formData = new FormData(form);
                var xmlhttp = new XMLHttpRequest();
				xmlhttp.onload = function(blob) {
					var link = document.createElement('a');
					link.href = (jest.fn())(blob);//window.URL.createObjectURL(blob);
					link.download = file.filename;
					link.click();
				}
                xmlhttp.open("POST", "/download");
				xmlhttp.send(formData);
            }*/
			function alt_download(){
                var x = document.getElementById("form1").elements.item(0).value;
				console.log(x);
				decrypt(x);
            }
			function downloadURI(uri, name) {
				 var link = document.createElement("a");
				 link.download = name;
				 link.href = uri;
				 document.body.appendChild(link);
				 link.click();
				 document.body.removeChild(link);
				 delete link;
			}
			function decrypt(name) {
                var formData = new FormData();
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				formData.append("fname", name);
				//console.log(form);
                var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					//console.log(this.responseText);
					if (this.readyState == 4 && this.status == 200) {
						var responseJson = JSON.parse(this.responseText);
						if(responseJson.status == '0')
						{
							downloadURI("/static/" + sessionStorage.getItem('user') + "/" + name, name);
							encrypt(name);
						}
					}
				}
                xmlhttp.open("POST", "/decrypt");
				xmlhttp.send(formData);
			}
			function encrypt(name) {
                var formData = new FormData();
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				formData.append("fname", name);
				//console.log(form);
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", "/encrypt");
				xmlhttp.send(formData);
			}
            function upload(){
                var form = document.getElementById("form2");
                var formData = new FormData(form);
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
				//console.log(form);
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", "/upload");
				xmlhttp.send(formData);
				xmlhttp.onload = reload_webpage;
            }
			function reload_webpage(){
				location.reload();
			}
			function del(){
                var form = document.getElementById("form1");
                var formData = new FormData(form);
				formData.append("user", sessionStorage.getItem('user'));
				formData.append("key", sessionStorage.getItem('key'));
                var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/delete");
				xmlhttp.send(formData);
				xmlhttp.onload = reload_webpage;
			}
			function logout(){
				sessionStorage.clear();
				location.href = "/";
			}
			if(sessionStorage.getItem('user') === null){
				location.href = "/";
			}
			document.title = sessionStorage.getItem('user') + "'s DigiLocker";
			fill_dropdown();
        </script>
    </body>
</html>
